{
  "arrowParens": "always",
  "semi": true,
  "bracketSpacing": true,
  "enable": true,
  "enableDebugLogs": false,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "ignorePath": ".prettierignore",
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 140,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requireConfig": false,
  "requirePragma": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "useEditorConfig": true
}